.card {
    display: flex;
    padding: 10px;
    align-items: center;
    border-bottom: 1px solid #dadce0;
    flex-direction: column;
}

.thumb_card {
    width: 100%;
    height: 20vh;
    background-size: cover;
}

.content_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    gap: 15px;
}

.content_title {
    font-size: 1em;
}

.button_card {
    background-color: var(--orange);
    border: 2px solid var(--orange);
    color: var(--white);
    padding: 10px;
    font-family: var(--secondary);
    border-radius: 6px;
    font-size: .9em;
    font-weight: 500;
    transition: .3s;
    cursor: pointer;
}

.button_card:hover {
    background-color: var(--white);
    color: var(--orange);
}

.content_hour {
    color: #202124 !important;
    font-size: 14px;
}

.border_card {
    border: 0.1px thin #dadce0;
    width: 80%;
    margin: 15px auto;
}

@media screen and (max-width: 578px) {
    .border_card {
        margin: 0px auto;
    }

    .content_title {
        font-size: 0.9em;
    }

    .content_card {
        gap: 3px;
    }

    .content_hour {
        font-size: 12px;
    }

    .button_card {
        padding: 5px;
        border-radius: 6px;
        font-size: .8em;
    }
}