.card {
    display: flex;
    padding: 10px;
    border-bottom: 1px solid black;
    align-items: center;
}

.thumb_card {
    width: 40%;
    height: fit-content;
}

.content_card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    gap: 10px;
}

.content_title {
    font-size: 1em;
}

.button_card {
    background-color: var(--orange);
    border: 2px solid var(--orange);
    color: var(--white);
    padding: 10px;
    font-family: var(--secondary);
    border-radius: 6px;
    font-size: .9em;
    font-weight: 500;
    transition: .3s;
}

.button_card:hover {
    background-color: var(--white);
    color: var(--orange);
}