.sidebar {
    background-color: white;
    width: 30%;
    max-height: 100vh;
    overflow-y: scroll;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
}

.sidebar::-webkit-scrollbar-track {
    background-color: var(--grey);
}

.sidebar::-webkit-scrollbar-thumb {
    background-color: var(--orange);
    border-radius: 100px;
}

.place_list_container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.back_button {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 5%;
    left: 5%;
    border: none;
    border-radius: 100px;
    background-color: var(--orange);
    display: flex;
    align-items: center;
    justify-content: center;
}